@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");

.container_calc {
    position: relative;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.container_calc:hover {
    text-decoration: underline;
  }

.container_calc_span {
    font-size: 16px;

}

.select-dropdown {
    margin: 0;
    padding: 0px 5px 0px 5px;
}

.select-dropdown__button {
  background-color: var(--dropdown-background);
  color: var(--dropdown-text-color);
  border: 1px solid var(--dropdown-border-color);
  border-radius: 3px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.select-dropdown__button:hover {
  text-decoration: underline;
}

.select-dropdown__list {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 1px solid var(--dropdown-border-color);
  border-top: 0px solid transparent;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  transform-origin: top left;
  transform: scale(1, 0);
  transition: all ease-in-out 0.3s;
  z-index: 2;
}

.select-dropdown__list.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1, 1);
}

.select-dropdown__list-item {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
  background: var(--dropdown-background);
  border-top: 1px solid var(--dropdown-border-color);
  font-size: 16px;
  line-height: 1.4;
  cursor: pointer;
  color: #616161;
  text-align: left;
  transition: all ease-in-out 0.3s;
}

.select-dropdown__list-item:hover,
.select-dropdown__list-item.selected {
  background-color: var(--primary-color);
  color: var(--main-text-color);
}

.select-dropdown {
  position: relative;
  display: inline-block;
  /* max-width: 100%;
  margin: 0 15px 0 0; */
}


body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    }

.select-dropdown {
    color: black;
}

a {
    padding: 0px 5px 0px 5px;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    }
    
a:active {
        color: blue;
    }
    
a:visited {
        color: black;
    }

.ava {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
margin-left: 40px;

}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card {
padding: 15px 20px;
margin-bottom: 20px;
border-radius: 20px;
    }

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;

}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.table {
    width: 100%;

}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: #86898f;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.contact h2 {
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.name-calc {
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.divMAinCalc {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin: auto;
    background: #fff9dc;
}

.divCalc {
    margin: auto;
    width: 50%;
}

.buttonCalc {
    margin: 3px 3px 3px 3px;
}

